.indexPageContent {
    border: 4px solid black;
    height: 500px;
    border-radius: 30px;
    border-color: #4ADEED;
    text-align: center;
}

.indexPageContent button {
    margin: 100px;
    margin-top: 150px;
    padding: 20px;
    border-radius: 100%;
    border: none;
    height: 250px;
    width: 250px;
    cursor: pointer;
}

p{
    font-size: 30px;
    color: white;
}

p1{
    font-size: 20px;
    color: black;
    position :absolute;
    top: 30px;
}

p2{
    position :absolute;
    height: 40px;
    width: 145px;
    margin-top: 15px;
    color : black;
    font-weight: bolder;
    background-color:#C0A46D;
    font-size: 30px;
}

.menu{
    background-color: rgba(204, 145, 78, 0.5);
 }

 li a {
     text-decoration: none;
     color: #fff;

 }
 

 .menu ul li .hov::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #2BB3C6;
    transition: width .3s;
}

.menu ul li .hov:hover::after{
    width: 100%;
    transition: width .3s;
}