.indexPage {}

.indexPageContent {
    border: 2px solid black;
    height: 500px;
    border-radius: 5px;
    border-color: skyblue;
    text-align: center;
}

.indexPageContent button {
    margin: 100px;
    margin-top: 150px;
    padding: 20px;
    border-radius: 100%;
    border: none;
    height: 120px;
    width: 120px;
    cursor: pointer;
}
